@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes colorRotate {
    from {
      background-color: #6666ff;
    }
    12% {
        background-color: #0099ff;
    }
    23% {
        background-color: cyan;
    }
    34% {
        background-color: lightgreen;
    }
    45% {
        background-color: #00ff00;
    }
    56% {
        background-color: rgb(213, 247, 25);
    }
    67% {
        background-color: rgb(255, 230, 0);
    }
    78% {
        background-color: rgb(245, 168, 25);
    }
    89% {
        background-color: #ff3399;
    }
    100% {
        background-color: #6666ff;
    }
  }

  @keyframes colorRotate2 {
    from {
      color: #6666ff;
    }
    12% {
        color: #0099ff;
    }
    23% {
        color: cyan;
    }
    34% {
        color: lightgreen;
    }
    45% {
        color: #00ff00;
    }
    56% {
        color: rgb(213, 247, 25);
    }
    67% {
        color: rgb(255, 230, 0);
    }
    78% {
        color: rgb(245, 168, 25);
    }
    89% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
  }
  
html {
    background-color: rgb(226, 228, 213);
    text-align: center;
}

.title {
    font-family: "Montserrat";
    font-size: 25px;
    text-align: center;
    color: rgb(25, 43, 51);
}

.desc {
    font-family: "Montserrat";
    background-color: rgb(233, 216, 180);
    width: 1000;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    text-align: center;
    font-weight: 100;
    padding: 15px;
}

.button {
    background-color: rgb(241, 171, 90);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-family: "Montserrat";
    align-items: center;
    margin: 5px;
    
}

.matrixbutton {
    color: #00ff00;
    background-color: rgb(0, 0, 0);
    border-color: #0f0;
    border-radius: 10px;
    font-family: "Montserrat";
    align-items: center;
    z-index: 10;
    bottom: 10%;
}

.matrixbutton:hover {
    border-color: rgba(0, 247, 0, 0.7);
    background-color: rgb(0, 0, 0)
    
}

.matrixtext {
    color: #0f0;
    font-family: "Montserrat";
    align-items: center;
    margin: 5px;
    
}

.sillybutton {
    background-color: rgb(241, 171, 90);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-family: "Montserrat";
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.sillybutton:hover {
    animation: colorRotate 4s linear 0s infinite;
    border-color: rgba(0, 0, 0, .7);

}

.button:hover {
    border-color: rgba(0, 0, 0, .7);
    background-color: rgb(218, 140, 52);
}

.p1 {
    font-weight: 450;
    font-size: large;
}

#bigtext {
    font-size: 45px;
    padding: 25px;
}

.rainbow {
    animation: colorRotate2 4s linear 0s infinite;
}
.whitetext {
    color: white;
}
#homematrixbutton:hover {
    border-color: #0f0;
    background-color: rgb(0, 0, 0);
    color: #0f0;
}

#homematrixbutton {
    background-color: rgb(241, 171, 90);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-family: "Montserrat";
    align-items: center;
    margin: 5px;
}

.image {
    height: 35%;
    width: 40%;
}

.rngimage {
    height: 30%;
    width: 40%;
}

#colourhexagon {
    width: 100%;
    height: 100%;
}

.intro {
    position: absolute;
    top: 0vh;
    left: 0vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.96);
    transition: 1s;
    cursor: wait;
}

.introtitle {
    font-family: "Montserrat";
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute; 
    top: 43%;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    z-index: 10;

}

.introp {
    font-weight: 450;
    font-size: large;
    font-family: "Montserrat";
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute; 
    top: 46%;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    z-index: 10;
}